.background {
    -fx-background-color: #D2EC7E;
}

.image {
    -fx-background-color: #819E21;
    -fx-background-radius: 25;
    -fx-border-color: #CD7F32;
    -fx-border-radius: 18;
    -fx-border-width: 14;
}

.question_title {
    -fx-font-size: 42;
    -fx-font-weight: bold;
}

.back_button {
    -fx-background-color: #819E21;
    -fx-background-radius: 20;
}

.back_button:hover {
    -fx-background-color: #6D871A;
    -fx-background-radius: 20;
}

.back_button:pressed {
    -fx-background-color: #637A18;
    -fx-background-radius: 20;
}

.points_pane {
    -fx-background-color: #F6FFD3;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-radius: 20;

}

.answer_1, .answer_2, .answer_3 {
    -fx-background-color: #F6FFD3;
    -fx-font-size: 30;
    -fx-background-radius: 20;
    -fx-text-alignment: center;
}

.answerText {
    -fx-wrap-text: true;
    -fx-min-height: 100;
}

.joker_button {
    -fx-background-color: #819E21;
    -fx-background-radius: 40;
}

.joker_button:hover {
    -fx-background-color: #6D871A;
    -fx-background-radius: 40;
}

.joker_button:pressed {
    -fx-background-color: #637A18;
    -fx-background-radius: 40;
}

.answers_given {
    -fx-font-size: 30;
    -fx-font-weight: bold;

}

.seconds_left {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}


.pointsLabel {
    -fx-background-radius: 22;
    -fx-background-color: #F5FFD3;
}

.nameTextField {
    -fx-background-color: #E0E8BE;
    -fx-background-radius: 36;
    -fx-border-radius: 36;
    -fx-border-color: #8D8888;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
    -fx-accent: #C7CFA9;
}

.progress-bar > .track {
    -fx-text-box-border: #D2EC7E;
    -fx-control-inner-background: #D2EC7E;
}